html, body {
  height: 100%;
  margin: 0;
  font-family:PingFangSC-Regular;
  font-size: 14px;
  font-weight: lighter;
}

main{
  position: relative;
  height: 100%;
}

.top.notice{
  padding: 1em;
  border:1px solid #D1B9A1;
  background-color: #FEFAEA;
  line-height: 1.5em;
  color: #8B572A;
}

/*iphone5 and iphone 5s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) { 
  _::-webkit-full-page-media, _:future, :root .history {
    margin-top: 1em;
    overflow: scroll;
    height: 62%;
  }
  _::-webkit-full-page-media, _:future, :root .content {
    height: 2em;
    width:92%;
    padding-left:1em;
    font-size: 0.9em;
  }
}

/*iphone6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    _::-webkit-full-page-media, _:future, :root .history {
      margin-top: 1em;
      overflow: scroll;
      height: 65%;
    }
    _::-webkit-full-page-media, _:future, :root .content {
      height: 1.5em;
      width:92%;
      padding-left:1em;
      font-size: 0.9em;
    }
}

/*iphone6 plus*/
@media only screen and (min-device-width: 414px) and (max-device-width : 736px) { 
  _::-webkit-full-page-media, _:future, :root .history {
    margin-top: 1em;
    overflow: scroll;
    height: 65%;
  }
  _::-webkit-full-page-media, _:future, :root .content {
    height: 2em;
    width:94%;
    padding-left:1em;
    font-size: 0.9em;
  }
}

.history {
  margin-top: 1em;
  overflow-y: scroll;
  height: 70%;
}

.message{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content{
  height: 2.5em;
  font-size: 1em;
  line-height: 2em;
  width: 96%;
  padding-left:1em;
}

input:focus, input:active, input.active, input:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #85b7d9;
}

.visitor::before{
  content: url("/images/exclamatory_mark.png");
  vertical-align:sub;
}

.visitor{
  color: #767676;
}

p{
  margin:1em 0 0 0;
}

p.admin > span:first-child:before{
  content: url("/images/yunbi_logo.png");
  vertical-align:middle;
}

p.certified_guest > span:first-child:before{
  content: url("/images/vip.png");
  vertical-align:sub;
}

.name::after
{
  content: "ï¼š";
  color: grey;
}

p.admin > span:first-child {
  color: #007dc5;
  overflow: hidden;
}

p.admin > span:last-child {
  color: #007dc5;
}

p.normal > span:first-child {
  color: #5B646F;
  overflow: hidden;
}

p.beginner > span:nth-child(2), p.helpful_user > span:nth-child(2), p.advanced_user > span:nth-child(2), p.certified_guest > span:nth-child(2), p.normal > span:nth-child(2)  {
  color: #aaa;
  font-size: 0.8em;
  display: none;
}

.system.notice{
  text-align: center;
  font-size: .9em;
}

.time {
  padding: 2px 4px;
  color: #fff;
  background-color: #e8e8e8;
  border-radius: 4px;
}

.name{
  font-weight: bold; 
}

p.beginner > span:last-child,
p.helpful_user > span:last-child,
p.normal > span:last-child, p.advanced_user > span:last-child,
p.certified_guest > span:last-child
{
  color: #5B646F;
}

p.beginner > span:first-child{
  color: #417505;
}

p.helpful_user > span:first-child{
  color: #a66740;
}

p.advanced_user > span:first-child{
  color: #f2731c;
}

p.certified_guest > span:first-child{
  color: #fcbd0f;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D3D3D3;
  font-size: 0.9em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #B9BDC1;
  font-size: 0.9em;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #B9BDC1;
  font-size: 0.9em;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B9BDC1;
  font-size: 0.9em;
}
