html {
  position: relative;
  min-height: 100%;
}

#messages {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
p{
  margin: 0 0 6px; 
}

.name::after
{
  content: ":";
  color: grey;
  padding-right:0.6em;
}

p.admin > span:first-child {
  color: #5f74c4;
  overflow: hidden;
}

p.admin > span:last-child {
  color: #5f74c4;
  font-size: 0.9em;
}

p.normal > span:first-child {
  color: #767676;
  overflow: hidden;
}

p.normal_believer > span:nth-child(2), p.advanced_believer > span:nth-child(2), p.true_name > span:nth-child(2), p.normal > span:nth-child(2)  {
  color: #aaa;
  font-size: 0.8em;
  display: none;
}

.time {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #ccc;
  border-radius: 4px;
}

.name{
  font-weight: bold; 
  font-size: 0.9em;
}

p.normal_believer > span:last-child,
p.normal > span:last-child, p.advanced_believer > span:last-child,
p.true_name > span:last-child
{
  font-size: 0.875em;
  color: grey;
}

p.normal_believer > span:first-child{
  color: #cd8dbf;
}

p.advanced_believer > span:first-child{
  color: #bf59a9;
}

p.true_name > span:first-child{
  color: #f98044;
}
