html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:PingFangSC-Regular;
    font-size: 14px;
    font-weight: lighter;
}

main{
  position: relative;
  height: 100%;
}

.top.notice{
  padding: 10px;
  border:1px solid rgba(0,124,197,0.08);
  background-color: rgba(0,124,197,0.02);
  line-height: 19px;
  color: #a1643e;
}

/*iOS safari only*/
@media screen and (max-device-width: 480px) { 
  _::-webkit-full-page-media, _:future, :root .history {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
    height: 75%;
  }
  _::-webkit-full-page-media, _:future, :root .content {
    width:96%;
    font-size: 0.9em;
  }
}


.history {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 75%;
}

.message{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content{
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  width: 98%;
}

.visitor::before{
  content: url("/images/exclamatory_mark.png");
  vertical-align:sub;
}

.visitor{
  color: #767676;
}

p{
  margin:12px 0 0 0;
}

p.admin > span:first-child:before{
  content: url("/images/yunbi_logo.png");
  vertical-align:middle;
}

p.certified_guest > span:first-child:before{
  content: url("/images/vip.png");
  vertical-align:sub;
}

.name::after
{
  content: "：";
  color: grey;
}

p.admin > span:first-child {
  color: #007dc5;
  overflow: hidden;
}

p.admin > span:last-child {
  color: #007dc5;
}

p.normal > span:first-child {
  color: #444444;
  overflow: hidden;
}

p.beginner > span:nth-child(2), p.helpful_user > span:nth-child(2), p.advanced_user > span:nth-child(2), p.certified_guest > span:nth-child(2), p.normal > span:nth-child(2)  {
  color: #aaa;
  font-size: 0.8em;
  display: none;
}

.system.notice{
  text-align: center;
}

.time {
  padding: 2px 4px;
  color: #fff;
  background-color: #ccc;
  border-radius: 4px;
}

.name{
  font-weight: bold; 
}

p.beginner > span:last-child,
p.helpful_user > span:last-child,
p.normal > span:last-child, p.advanced_user > span:last-child,
p.certified_guest > span:last-child
{
  color: #444444;
}

p.beginner > span:first-child{
  color: #417505;
}

p.helpful_user > span:first-child{
  color: #a66740;
}

p.advanced_user > span:first-child{
  color: #f2731c;
}

p.certified_guest > span:first-child{
  color: #fcbd0f;
}
